ansible-core==2.16.18 ; python_full_version > "3.10.0"
ansible==9.13.0 ; python_full_version > "3.10.0"
cffi==2.0.0 ; python_full_version > "3.10.0" and platform_python_implementation != "PyPy"
cryptography==48.0.0 ; python_full_version > "3.10.0"
jinja2==3.1.6 ; python_full_version > "3.10.0"
markupsafe==3.0.3 ; python_full_version > "3.10.0"
packaging==26.2 ; python_full_version > "3.10.0"
pycparser==3.0 ; platform_python_implementation != "PyPy" and implementation_name != "PyPy" and python_full_version > "3.10.0"
pyyaml==6.0.3 ; python_full_version > "3.10.0"
resolvelib==1.0.1 ; python_full_version > "3.10.0"
typing-extensions==4.15.0 ; python_full_version > "3.10.0" and python_full_version < "3.11.0"
